{% extends 'base.html.twig' %}

{% block body %}
    <h1>Édition de la photo {{ filename }}</h1>
    <form method="post">
        <label for="description">Description IPTC :</label><br>
        <textarea id="description" name="description" rows="4" cols="50">{{ description }}</textarea><br>
        <input type="submit" value="Enregistrer">
    </form>
{% endblock %}